@font-face {
  font-family: 'ParfumerieScriptPro';
  src: url('/assets/ParfumerieScriptPro.ttf') format('truetype');
}


.discover-container {
  display: flex;
  background-color: #333;
  color: white;
  width: 100%;
  height: 100vh; /* Fixed height */
  overflow: hidden;
}

.discover-left {
  flex: 1;
  min-width: 300px;
  height: 100%; /* Match container height */
  overflow: hidden;

}

.discover-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Crops to fill space without distortion */
  object-position: center;
}

.discover-right {
  flex: 1;
  min-width: 300px;
  height: 100%; /* Match container height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* top: 0px, right: 40px, bottom: 40px, left: 40px */
  padding: 0px 40px 0px 40px;
  /* padding: 40px; */
  background-color: #444;
  text-align: center;
  overflow: auto; /* Enable scrolling if content overflows */
}

.discover-heading {
  font-family: 'ParfumerieScriptPro', cursive;
  font-size: 5rem;
  margin: 0;
  color: #fff;
  transform: translateY(-20px); /* Adjust this value as needed */
  /* line-height: 0.1;  Try adjusting line-height */
}

.discover-text {
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.discover-arrows {
  margin-top: 30px;
  font-size: 2.5rem;
  color: white;
}

.arrows{
  height: 75px;
  width: 125px;
}

@media screen and (max-width: 768px) {
  .discover-container {
    flex-direction: column;
    height: auto; /* Allow height to grow */
  }

  .discover-left {
    display: none; /* Already handled inline */
  }

  .discover-right {
    height: 100vh; /* Same as desktop */
    overflow-y: auto; /* Enable scroll if content overflows */
    padding: 40px 20px; /* Slightly tighter on mobile */
    justify-content: center;
  }

  .discover-heading {
    font-size: 5rem; /* Keep same size */
    transform: translateY(-20px);
  }

  .discover-text {
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 0.5px;
  }

  .discover-arrows {
    margin-top: 30px;
  }

  .arrows {
    height: 75px;
    width: 125px;
  }
}

