.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  overflow: hidden; /* Hide any overflow */
}

.content-box {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap; /* Prevent wrapping of cards */
}

/* Hide scrollbar while keeping scroll functionality */
.scroll-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}

.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.card {
  width: 300px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-size: cover;         /* Now set in the CSS */
  background-position: center;    /* Now set in the CSS */
  background-repeat: no-repeat;
  border-radius: 6px;
  background-color: #f0f0f0;
  /* border: 1px solid #ccc; */
}


.card p {
  font-size: 70px;
  font-weight: 600;
  color: #ffffff;
  opacity: 0.4;
}

.side-btn {
  position: absolute;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 6px;
  z-index: 1;
  transition: all 0.3s ease;
  border: none;
}

.side-btn.left {
  left: 10px;
  background: url('./assets/button.png') no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  transition: filter 0.3s ease; 
}

.side-btn.right {
  right: 20px;
  background: url('./assets/buttonright.png') no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 0 transparent); 
  transition: filter 0.3s ease; 
}
.side-btn.left:hover {
  filter: drop-shadow(0 0 10px rgba(255, 215, 0, 0.8)); 
}

.side-btn.right:hover {
  filter: drop-shadow(0 0 10px rgba(255, 215, 0, 0.8));
}
